on:
  pull_request_target:
     types:
       - opened
jobs:
  pr_comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Comment a pull_request
        uses: mb2dev/github-action-comment-pull-request@1.0.0
        with:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          message: "Hello @${{ github.actor }}!

          Thank you for submitting this pull request
          Your pull request will be reviewed by maintainers shortly.
          Meanwhile make sure you have referenced the respected issue in this pr 
          Your pr will not be merged if it does not have reference to respected issue 
          
          please read our Contributing Guidelines
          https://github.com/UBA-GCOEN/StichHub/blob/main/CONTRIBUTING.md
          And Code of Conduct
          https://github.com/UBA-GCOEN/StichHub/blob/main/CODE_OF_CONDUCT.md"
            


